{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">Accueil</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci alias aliquam animi, aperiam consectetur dignissimos error eum, eveniet hic iste maiores neque nihil non nostrum obcaecati odio quisquam reprehenderit repudiandae sequi sint temporibus tenetur veritatis. Amet atque autem delectus dolor dolore doloremque ea eos fugit illo in inventore ipsum laudantium maxime nemo neque odit officia porro quam, quas qui quis ratione, temporibus velit veniam voluptas, voluptate voluptatibus! A aliquam culpa eos excepturi magnam nemo neque nesciunt nulla, odio praesentium</p>
{% endblock %}
