<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Choupignon{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}            
        {% endblock %}
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://kit.fontawesome.com/504ae21945.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% include "shared/_navbar.html.twig" %}
        {% include "shared/_alerts.html.twig" %}
        <div class="container">        
            {% block body %}{% endblock %}
        </div>
        {% include "shared/_footer.html.twig" %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>