
<!-- Grid container -->
<div class="container p-4 pb-0">
    <p>Content</p>
</div>
<!-- Grid container -->

<!-- Copyright -->
<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Réalisé par Jéremy Dallain : liens

</div>
<!-- Copyright -->