{% if app.request.attributes.get('_route') == "home" %}
    <div class="p-5 text-center bg-image"
         style="
             background-image: url('{{ asset('images/tools.jpg') }}');
             height: 100vh;
         "
    >
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-dark">
                    <h2 class="mb-3 fs-1">Bienvenue sur Choupignon</h2>
                    <h4 class="mb-3">Site de partage de création</h4>
                    <p class="mb-3 fs-4">(Version Test)</p>
                    <a title="le catalogue" class="btn btn-outline-dark btn-lg" href="{{ path('item_index') }}" role="button">Le catalogue</a>
                </div>
            </div>
        </div>
    </div>
{% else %}
{% endif %}
